<section class="contato">
  <h2>Contato</h2>

  <div class="info">
    <p>
      <strong>Endereço:</strong> St. P QNP 10 conjunto p lote 36 - Ceilândia,
      Brasília - DF
    </p>
    <p><strong>Telefone:</strong> (61) 98545-0302</p>
    <p><strong>Horário:</strong> Terça a domingo, a partir das 12h</p>

    <a
      href="https://www.google.com/maps/search/?api=1&query=St.+P+QNP+10+conjunto+p+lote+36+Ceil%C3%A2ndia+Bras%C3%ADlia+DF"
      target="_blank"
      class="btn-maps"
    >
      Ver no Google Maps
    </a>
  </div>
</section>
